* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
}

body {
  color: #2f2f2f;
  font-family: 'Ubuntu', Helvetica, arial, sans-serif;
  min-height: 100%;
  width: 100%;
  background:
    linear-gradient(
      rgba(255, 236, 254, 0.8),
      rgba(205, 182, 255, 0.8)
      ),
    url(../images/contact_bg.png);
  background-size: cover;
  background-attachment: fixed;
  /* position: fixed;
  top: 0;
  left: 0; */

}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  max-width: 1320px;
}

.content {
  flex: 1 0 auto;
}

.fa, .fa-bars {
  color: #757575;
}

.main-nav {
  font-size: 1.4rem;
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

.main-nav li {
  margin: 1.5rem auto;
  text-align: center;
}

.nav-links {
  color: #757575;
}

.logo {
  display: inline-block;
  font-size: 50%;
  margin-top: 1rem;
  /* margin-left: 2rem; */
}

.logo-img {
  width: 70%;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 2.4rem;
  margin-top: 1rem;
  position: absolute;
  right: 5%;
  top: 1rem;
}

.navbar {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#current-page {
  font-weight: 700;
  color: #4a4a4a;
}

a {
  color: #2f2f2f;
  text-decoration: none;
}


.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px 'Ubuntu', Helvetica, arial, sans-serif;
}

#contact {
  background: #fff;
  padding: 25px;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

h1, h2, h3 {
  color: #757575;
}

h1 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

#contact h3 {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* #contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
} */

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  background: #eee1da;
  border: solid 1px #424048;
  border-radius: 0.6rem;
  color: #424048;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  transition: 0.5s all;
  text-transform: uppercase;
}

#contact button[type="submit"]:hover {    border: solid 2px #5c3d81;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
    background: #5c3d81;
    color: #eee1da;
    transform: translateY(-5px);
  /* background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; */
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

footer {
  flex-shrink: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.contact-container {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  height: 2rem;
  justify-content: space-between;
  margin: 0 auto;
  width: 15rem;
}

.contact-footer {
  margin: 0 auto;
  padding: 2rem 0;
  width: 20rem;
}


.contact-icon-footer {
  width: 2rem;
}

p{
  color: #757575;
}


@media screen and (min-width: 768px) {

  .container {
    clear: both;
    overflow: auto;
    width: 60%;
  }

  .navbar {
    align-items: center;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .logo-img {
    width: 80%;
  }

  .logo-svg {
    width: 95%;
  }

  .main-nav {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    /* margin-left: 0; */
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #2f2f2f;
  }

  section {
    margin-bottom: 5rem;
  }

  @media screen and (min-width: 1000px) {

    .flex-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .flex-content {
      width: 45%;
    }

    .main-nav {
      font-size: 1.4rem;
    }

    .logo-svg {
      width: 100%;
    }

    .logo-img {
      width: 100%;
    }

  }


  @media screen and (min-width: 1366px) {

    .navbar {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    section {
      margin-bottom: 6rem;
    }

    a img {
      margin-bottom: 1.5rem;
    }


  }
