* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f3f0f7;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', Helvetica, arial, sans-serif;
  height: 100%;
}

.container {
  background-color: transparent;
  flex: 1 0 auto;
  margin: 0 auto;
  width: 90%;
  max-width: 1320px;
}

.fa, .fa-bars {
  color: #757575;
}

.main-nav {
  font-size: 1.4rem;
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

.main-nav li {
  margin: 1.5rem auto;
  text-align: center;
}

.nav-links {
  color: #757575;
}

.logo {
  display: inline-block;
  font-size: 50%;
  margin-top: 1rem;
  /* margin-left: 2rem; */
}

.logo-img {
  width: 70%;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 2.4rem;
  margin-top: 1rem;
  position: absolute;
  right: 5%;
  top: 1rem;
}

.navbar {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#current-page {
  font-weight: 700;
  color: #4a4a4a;
}

a {
  color: #2f2f2f;
  text-decoration: none;
}

section {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

h1 {
  font-weight: 700;
}

hr {
  border: none;
  background-color: #9a9a9a;
  height: 0.2rem;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 15rem;
}

.grid-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2,1fr);
  /* grid-template-rows: repeat(3,8rem) */
}

.grid-content {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}

a img {
  height: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  transition: .5s all;
  white-space:pre;

  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform:scale(1);
  transform:scale(1);
}

/* a img:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.4)
} */

a img:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.direct {
  display: inline;
}

.direct:hover p{
  color: #2f2f2f;
}

.direct:hover #arrow_back{
  fill: #2f2f2f;
}

.direct:hover #arrow_border{
  stroke: #2f2f2f;
}

.direct svg {
  vertical-align: middle;
}

.direct p {
  display: inline;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.arrow {
  animation: back-to-dir 1.7s infinite;
}

@keyframes back-to-dir {
  0% {opacity: 0;},
  50% {opacity: 1;},
  100% {opacity: 0;},
}


footer {
  flex-shrink: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.contact-container {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  height: 2rem;
  justify-content: space-between;
  margin: 0 auto;
  width: 15rem;
}

.contact-footer {
  margin: 0 auto;
  padding: 2rem 0;
  width: 20rem;
}


.contact-icon-footer {
  width: 2rem;
}

p {
  color: #757575;
}


@media screen and (min-width: 768px) {

  .container {
    clear: both;
    overflow: auto;
    width: 60%;
  }

  .navbar {
    align-items: center;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .logo-img {
    width: 80%;
  }

  .logo-svg {
    width: 95%;
  }

  .main-nav {
    display: flex;
    font-size: 1.2rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    /* margin-left: 0; */
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #2f2f2f;
  }

  section {
    font-size: 1.4rem;
    margin-bottom: 5rem;
  }

  .grid-container {
    grid-gap: 3rem;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(3,8rem) */
  }

  .contact-icon-footer {
    width: 2rem;
  }

}

  @media screen and (min-width: 1366px) {

    .navbar {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .main-nav {
      font-size: 1.4rem;
    }

    .logo-svg {
      width: 100%;
    }


    .logo-img {
      width: 100%;
    }

    .grid-container {
      grid-gap: 4rem;
    }

    section {
      margin-bottom: 6rem;
    }

    a img {
      margin-bottom: 1.5rem;
    }


  }
